<div class="container.fluid clearfix">
  <div class="row row-centered">

    <div class="col-md-12 landingNav">
      <div>
        <div style="display: inline-block;">
          <img src="keenlydonelogoSmall.png" class="landingPhrase"alt="Image failed to load">
        </div>
        <div style="display: inline-block;">
          <img src="keenlydonePhraseMedium.png" class="landingPhrase" alt="Failed to load">
        </div>
      </div>
    </div>
  </div>
</div>




<div class="container.fluid">
<div class="row row-centered">
<div class="col-xs-12 col-centered col-min"><div class="item"><div class="content"><button>Add Post</button>&nbsp;<button>Chatroom</button><button ng-click="logout();" style="float:right;">Logout</button></div></div></div>
<!-- <div class="col-xs-6 col-centered col-min"><div class="item"><div class="content">&nbsp;&nbsp;</div></div></div> -->
<!-- <div class="col-xs-6 col-centered col-min"><div class="item"><div class="content">test</div></div></div>
<div class="col-xs-6 col-centered col-min"><div class="item"><div class="content">test</div></div></div>
<div class="col-xs-6 col-centered col-min"><div class="item"><div class="content">test</div></div></div> -->
</div>
</div>
